__pycache__/
*.py[cod]
*$py.class
*.egg-info
.pytest_cache
.ipynb_checkpoints
thumbs.db
.DS_Store
.idea
old/*
*.pptx
*.bin
*.pt
old/*
*.zip
*.json
src/ltu/train_script/hf_cache/
src/ltu/train_script/wandb/
src/ltu_as/exp/ltuas_ft_toy/*
src/ltu_as/exp/ltuas_ft_toy_low_resource/*
src/ltu_as/train_scripts/hf_cache/*
inference_log/*
eval_data/*
openaqa/data/*
opensaqa/data/*
pretrained_mdls/*
flagged/*
src/ltu/exp/*
openasqa/data/